\html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Убираем выделение при тапе на мобильных */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}